<% layout('layouts/boilerplate') %>
<div class="container text-center">
  <h1><%= category %> Products</h1>

  <% for (let product of products) {%>
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <ul>
        <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
      </ul>
    </div>
  </div>
  <% } %>
  <div class="text-center">
    <a href="/products/new" class="btn btn-primary">Add a New Product!</a>
  </div>

  <% if (category !== 'All') { %>
  <a href="/products">All Products</a>

  <% } %>
</div>
